@model StudentPortal.Web.Models.AddStaffViewModel

<h1>Add Staff</h1>

<form asp-action="AddStaff" asp-controller="Staff" method="post">
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Sta_Name" />
    </div>
    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Sta_Email" />
    </div>
    <div class="mt-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="Sta_PhoneNumber" />
    </div>
    <div class="mt-3">
        <input type="checkbox" class="form-check-input" asp-for="Sta_Subscribed" />
        <label class="form-check-label" asp-for="Sta_Subscribed">Subscribed</label>
    </div>
    <div class="mt-3">
        <label class="form-label">Entrollment</label>
        <input type="text" class="form-control" asp-for="Sta_Entrollment" />
    </div>
    <div class="mt-3">
        <label class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="Sta_password" />
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
